pkgbase = stitchfs-bin
	pkgdesc = Edit several files as one; saving splits the changes back into the originals
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/eric-frost/stitchfs
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = fuse3
	provides = stitchfs
	conflicts = stitchfs
	source_x86_64 = stitchfs-bin-0.4.0-x86_64.tar.gz::https://github.com/eric-frost/stitchfs/releases/download/v0.4.0/stitchfs_0.4.0_linux_amd64.tar.gz
	sha256sums_x86_64 = 43a8d9e5e47ecf7354acf16c2cad1466cd1a8374f528ac6bd6d2c62a5898bca8
	source_aarch64 = stitchfs-bin-0.4.0-aarch64.tar.gz::https://github.com/eric-frost/stitchfs/releases/download/v0.4.0/stitchfs_0.4.0_linux_arm64.tar.gz
	sha256sums_aarch64 = d97632bdb87b95cdd86ccb793211f79a71cd33b6a04e5a8aed0e926cb273f164

pkgname = stitchfs-bin
